:root {
	--main-black: rgba(33, 33, 33, 1);
	--active-color: rgba(33, 150, 243, 1);
	--main-white: rgba(255, 255, 255, 1);
	--main-grey: rgba(117, 117, 117, 1);
	--darker-white: rgba(245, 244, 250, 1);
}

body {
	font-family: 'Roboto', sans-serif;
	color: var(--main-black);
}
/* style header  */

.header-title {
	background-color: rgba(47, 48, 58, 1);
}
.style-title {
	font-size: 44px;
	text-transform: uppercase;
	color: var(--main-white);
}
.btn-style {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	width: 200px;
	height: 50px;
	background-color: var(--active-color);
	color: var(--main-white);
}

.btn-style:hover {
	cursor: pointer;
}
.btn-style:active {
	cursor: pointer;
}

.header-nav {
	background-color: var(--main-white);
}

.no-underline {
	text-decoration: none;
}

.no-dots {
	list-style: none;
}

.logo {
	font-size: 26px;
	font-family: 'Raleway', sans-serif;
	color: rgba(0, 0, 0, 1);
	height: 31px;
	width: 145px;
	font-weight: bold;
	letter-spacing: 0.03em;
}
.logo-front {
	color: var(--active-color);
}

.logo-studio {
	color: rgba(255, 255, 255, 1);
}
.nav-style {
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.02em;
	line-height: 1.1428;
}

.nav-color {
	color: var(--main-black);
}

.header-mail-tel {
	color: var(--main-grey);
	font-size: 14px;
	line-height: 1.7143;
	letter-spacing: 0.03em;
}

.active-color:hover {
	color: var(--active-color);
	cursor: pointer;
}
.active-color:active {
	color: var(--active-color);
	cursor: pointer;
}

/* style main */

.section-light {
	background-color: var(--main-white);
}

.header-second {
	font-weight: bold;
	font-size: 14px;
	line-height: 1.1428;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

.section-p {
	font-size: 14px;
	line-height: 1.7143;
	letter-spacing: 0.03em;
	color: rgba(117, 117, 117, 1);
}

.header-second-big {
	font-weight: bold;
	font-size: 36px;
	line-height: 1.1667;
	text-align: center;
	letter-spacing: 0.03em;
}

.section-dark {
	background-color: var(--darker-white);
}

.section-figure {
	background-color: var(--main-white);
}

.main-description {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.1875;
	text-align: center;
	letter-spacing: 0.03em;
}
.second-description {
	font-size: 16px;
	line-height: 1.1875;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--main-grey);
}

/* style footer */
.footer-style {
	background-color: rgba(47, 48, 58, 1);
}

.footer-address {
	color: var(--main-white);
	font-size: 14px;
	line-height: 1.7143;
	font-style: normal;
	letter-spacing: 0.03em;
}

.footer-mail-tel {
	color: rgba(255, 255, 255, 0.6);
	font-size: 14px;
	line-height: 1.7143;
	letter-spacing: 0.03em;
}

/* portfolio */

.btn-portfolio {
	font-family: 'Roboto', sans-serif;
	background-color: var(--darker-white);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.625;
	text-align: center;
	letter-spacing: 0.03em;
}

.btn-portfolio:hover {
	background-color: var(--active-color);
	color: var(--main-white);
	cursor: pointer;
}
.btn-portfolio:active {
	background-color: var(--active-color);
	color: var(--main-white);
	cursor: pointer;
}

.main-description-portfolio {
	font-size: 18px;
	font-weight: bold;
	line-height: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}
.second-description-portfolio {
	line-height: 16px;
	line-height: 1.875;
	letter-spacing: 0.03em;
	color: var(--main-grey);
}
